*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: font-family;
  font-size: 1.5rem;
  color: var(--transparent-white);
  line-height: 1.6;
  background-color: var(--very-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Lexend Deca", sans-serif;
}

.container {
  padding-block: 2em;
}

.card {
  padding: 3.5em;
  width: clamp(285px, 90%, 700px);
  margin: auto;
}

.card > * {
  margin: 0.4em 0;
}

.card__heading {
  font-size: 3.8rem;
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  color: var(--very-light-gray);
}

.sedan {
  background-color: var(--Bright-orange);
  border-radius: 0.5em 0.5em 0 0;
}
.suv {
  background-color: var(--Dark-cyan);
}
.luxury {
  background-color: var(--Very-dark-cyan);
  border-radius: 0 0 0.5em 0.5em;
}

/* BUTTON STYLES  */
.btn {
  display: inline-block;
  font-family: "Big Shoulders Display", cursive;
  text-decoration: none;
  background-color: var(--very-light-gray);
  color: var(--Bright-orange);
  padding: 0.75em 2.2em;
  border-radius: 10em;
  margin: 3em 0 0;
  border: 0.15em solid var(--very-light-gray);
  letter-spacing: 2px;
  text-transform: capitalize;
}
.sedan > .btn {
  color: var(--Bright-orange);
}
.suv > .btn {
  color: var(--Dark-cyan);
}
.luxury > .btn {
  color: var(--Very-dark-cyan);
}
.sedan .btn:hover {
  background-color: var(--Bright-orange);
  color: var(--very-light-gray);
}
.suv .btn:hover {
  background-color: var(--Dark-cyan);
  color: var(--very-light-gray);
}
.luxury .btn:hover {
  background-color: var(--Very-dark-cyan);
  color: var(--very-light-gray);
}

@media (min-width: 1000px) {
  .row {
    display: flex;
    justify-content: center;
  }
  .card {
    margin: 0;
    flex-basis: 21em;
  }
  .sedan {
    background-color: var(--Bright-orange);
    border-radius: 0.8em 0 0 0.8em;
  }
  .suv {
    background-color: var(--Dark-cyan);
  }
  .luxury {
    background-color: var(--Very-dark-cyan);
    border-radius: 0 0.8em 0.8em 0;
  }
}
